@{
    ViewBag.Title = "忘记密码";
    Layout = "~/Views/Shared/_LayoutAccountPage.cshtml";
}

<header id="login-header">
  <div id="login-logo">
    <a href=""><img src="/Content/img/logo.png" alt=""/></a>
  </div>
</header>
<div id="login-box-inner" class="with-heading">
  <h4>忘记密码?</h4>
  <p>
    通过您的邮箱地址找回您的密码
  </p>
  <div>
    <div class="input-group reset-pass-input">
      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
      <input class="form-control" type="text" placeholder="邮箱地址" id="txtemail">
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success col-xs-12" onclick="btn_reset_pwd()">重置密码
        </button>
      </div>
      <div class="col-xs-12">
        <br/>
        <a href="/account/login" id="login-forget-link"
           class="forgot-link col-xs-12">返回登录</a>
      </div>
    </div>
  </div>
</div>

@section footer{
    <script type="text/javascript">
        function btn_reset_pwd() {
            var email = $("#txtemail").val();
            if (isEmpty(email)) {
                alertErrorMsg("邮箱地址不能为空！");
                return;
            }

            if (!CheckMail(email)) {
                alertErrorMsg("邮箱地址格式不正确！");
                return;
            }

            var pams = {
                email: email
            };

            Loading("验证中，请稍后...")
            $.post("/Account/ForgetPwd", pams, function (data) {
                LoadClosed();
                if (data.status == 0) {
                    alertSuccessMsg(data.msg);
                } else {
                    alertErrorMsg(data.msg);
                }
            }, "json");
        }
    </script>
}